<div>
<% @posts.each do |post| %>
  <div>
    <div><%= post.name %></div>
    <div><%= post.title %></div>
    <div><%= post.content %></div>
    <div><%= link_to 'Show', post %></div>
    <div><%= link_to 'Edit', edit_post_path(post) %></div>
    <div><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></div>
  </div>
<% end %>
</div>

<br />

<%= link_to 'New Post', new_post_path %>