<p id="notice"><%= notice %></p>

<div class="post_left">
  <div class="post_title">
    <%= @post.title %>
  </div>

  <div class="post_name">
    <%= @post.name %>
  </div>
  
  <div class="post_tags">
    <%= @post.tags.map { |t| t.name }.join(", ") %>
  </div>
</div>

<div class="post_right">
  <div class="post_content">
  <%= raw @post.content %>
  </div>
</div>

<div class="post_comments">
  <h2>Comments<h2>
  <%= render :partial => "comments/comment",
		     :collection => @post.comments %>

  <h2>Add a comment:</h2>
  <%= render "comments/form" %>
</div>

<br />

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
